.main{
    width: 1440px;
    margin: auto;
    overflow: hidden;

    .item{
        &:hover{
            box-shadow: 3px 6px 15px 0px rgba(0,0,0,0.2);
            cursor: pointer;
        }
        box-sizing: border-box;
        border: 1px solid grey;

        img{
            float: left;
            height: 205px;
        }

        &>div{
            float: right;
            width: calc(100% - 205px);
            height: 100%;
        }
    }

    .group{
        &>.header{
            width: 1015px;
            margin:auto;
            overflow: hidden;
            padding-left: 210px;
            padding-right: 210px;
            font-size: 14px;

            span{
                font-weight: bold;
                float: left;
            }

            button{

                float: right;
            }
        }
        .items{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .group-item{
                &.left{
                    margin-right: 15px;
                }

                .item{
                    margin-top: 15px;
                    width: 500px;
                    height: 205px;
                }
            }
        }
    }
}