html{
    background-color: #f3f3f3;
    color: #515151;
}

.my-btn{
    height: 25px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    background-color: white;
    font-size: 14px;
    cursor: pointer;

    &:hover{
        background-color: #4ac9a9;
        color: white;
    }
}

.page{
    width: 1440px;
    margin: auto;
    overflow: hidden;
}